@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}
@section scripts
    {
    <script src="~/js/homeIndex.js"></script>
    <script src="~/js/movie-review-edit.js"></script>
}

<div ng-view=""></div>