
<section id="contact-us" class="row contact-us wow fadeInDown">
    <h1>About the Application</h1>
    <hr />
    <h3>Client Side Technologies Used</h3>
    <hr/>
    <p>HTML 5</p>
    <p>CSS 3</p>
    <p>Modernizer & LESS</p>
    <p>Responsive Design</p>
    <p>Media Queries</p>
    <p>Angular JS</p>
    <p>Toastr JS</p>
    <p>Bootstrap Templates</p>
    <p>Fontawesome Icons</p>
    <p>Templating</p>
    <hr />
    <br />
    <h3>Server Side Technologies Used</h3>
    <hr />
    <p>JSON+AJAX</p>
    <p>Web API</p>
    <p>Repository Pattern</p>
    <p>Unit of Work Pattern</p>
    <p>Entity Framework- Code First Approach</p>
    <p>Database- SQL Server</p>
    <hr />
    <br />
    <h3>Design Techniques</h3>
    <p>Solid Principles</p>
    <p>Factory Pattern</p>
    <hr />
    <br />
    <h3>Tools Used</h3>
    <p>Visual Studio 2013 <a href="http://www.visualstudio.com/en-us/downloads/download-visual-studio-vs#d-community"><i class="fa fa-cloud-download"> Download Here!</i></a></p>
    <p>Chrome Developer Tool</p>
    <p>Chrome Mobile Emulator</p>
</section>