<section id="contact-us" class="row contact-us wow fadeInDown">
    <p>
        Twitter
        <a href="https://twitter.com/rahulsahay19">@rahulsahay19</a>
    </p>
    <p>
        Facebook
        <a href="https://www.facebook.com/rahulsahay19">Rahul Sahay</a>
    </p>
    <p>
        My Blog
        <a href="http://myview.rahulnivi.net">My View</a>
    </p>
    <p>
        Linked In
        <a href="http://in.linkedin.com/in/rahulsahay19/">My Profile</a>
    </p>
    <p>
        .Net Daily
        <a href="https://paper.li/rahulsahay19/1417409532#!headlines">.Net News</a>
    </p>
</section>